@charset "utf-8";
body{
  margin: 100px
}
/* Transition 애니메이션 */
.box{
  background: yellow;
  border: 5px solid #000;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
}
.box:hover{
  border-radius: 50%;
  transform: rotate(360deg);
}

/* CSS3 애니메이션 규칙 */
@keyframes text-ani{
  0%{
    font-size: 20px;
    transform: translate(0, 0);
  }
  100%{
    font-size: 40px;
    transform: translate(300px, 500px);
  }
}
/* .inner{
  animation-name: text-ani;
  animation-duration: 500ms;
  animation-fill-mode: forwards; 
  animation-delay: 300ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-play-state: paused; // 마우스 이벤트와 같이 쓸 때 유용
}  */
.inner{
  display: inline-block;
  animation: text-ani 500ms forwards infinite alternate ease-in-out;
}
.text{
  width: 800px;
  margin: 50 auto;
  height: 300px;
  border: 5px solid #000;
  background: palevioletred;
}